@model ProductDtoForInsertion

<div class="text-center">
    <div class="d-flex justify-content-between align-items-center">
        <!-- Başlık Ortada -->
        <div class="mx-auto display-6">Yeni Kişi Ekle</div>

        <!-- Excel Dosyasını Yükle Butonu Sağda -->
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#uploadModal">
            <i class="fa-solid fa-file-upload"></i>
            Excel'den Aktar
        </button>
    </div>



    <div class="container mt-5">
        <!-- Modal for Excel Upload -->
        <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <form asp-action="UploadExcel" method="post" enctype="multipart/form-data">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="uploadModalLabel">Excel Dosyası Yükle</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="excelFile">Excel Dosyası</label>
                                <input type="file" class="form-control" id="excelFile" name="file" accept=".xlsx, .xls" required />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">Yükle</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    <div class="form-group my-3">
        <label asp-for="CategoryId">Meslek</label>
        <select class="form-control" asp-for="CategoryId" id="categorySelect">
            @foreach (Categories category in ViewBag.Category)
            {
                <option value="@category.Id">@category.CategoryName</option>
            }
            <option value="other">Diğer</option>
        </select>
    </div>

    <div class="form-group my-3" id="otherCategoryDiv" style="display: none;">
        <label for="otherCategory">Yeni Meslek Adı</label>
        <input type="text" class="form-control" id="otherCategory" name="NewCategoryName" placeholder="Yeni meslek adı girin" />
    </div>

    <div class="form-group my-3">
        <label asp-for="EducationStatusId">Eğitim Durumu</label>
        <select class="form-control" asp-for="EducationStatusId">
            @foreach (EducationStatus EducationStatus in ViewBag.EducationStatus)
            {
                <option value="@EducationStatus.Id">@EducationStatus.EducationStatusName</option>
            }
        </select>
    </div>

    <div class="form-group my-3">
        <label asp-for="ReferanceId">Referans</label>
        <select class="form-control" asp-for="ReferanceId" id="referanceSelect">
            @foreach (Referance Referance in ViewBag.Referance)
            {
                <option value="@Referance.Id">@Referance.ReferanceName</option>
            }
            <option value="other">Diğer</option>
        </select>
    </div>
    <div class="form-group my-3" id="otherreferanceDiv" style="display: none;">
        <label for="otherreferance">Yeni Referans Adı</label>
        <input type="text" class="form-control" id="otherreferance" name="NewReferanceName" placeholder="Yeni referans girin" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Name">İsim</label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="Address">Adres</label>
        <input asp-for="Address" class="form-control" />
    </div>

    <div class="form-group my-3">
        <label asp-for="PhoneNumber">Telefon Numarası</label>
        <input asp-for="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group my-3">
        <button class="btn btn-primary" type="submit">Kaydet</button>
    </div>
</form>

<script>
    document.getElementById('categorySelect').addEventListener('change', function () {
        var otherCategoryDiv = document.getElementById('otherCategoryDiv');
        if (this.value === 'other') {
            otherCategoryDiv.style.display = 'block'; // Göster
        } else {
            otherCategoryDiv.style.display = 'none'; // Gizle
        }
    });
    document.getElementById('referanceSelect').addEventListener('change', function () {
        var otherreferanceDiv = document.getElementById('otherreferanceDiv');
        if (this.value === 'other') {
            otherreferanceDiv.style.display = 'block'; // Göster
        } else {
            otherreferanceDiv.style.display = 'none'; // Gizle
        }
    });
</script>
